.row
  = form_for @message do |f|
    .span6.offset3
      .form-group
        = f.label :name, "Name"
        = f.text_field :name, class: "input-block-level", required: true
    .span6.offset3
      .form-group
        = f.label :email, "Email"
        = f.email_field :email, class: "input-block-level", required: true
    .span6.offset3
      .form-group
        = f.label :subject, "Subject"
        = f.text_field :subject, class: "input-block-level", required: true
    .span6.offset3
      .form-group
        = f.label :body, "Message"
        = f.text_area :body, class: "input-block-level", required: true, rows: 6
      .form-group
        %button.btn.btn-primary{type: "submit"}
          Send Message
