= content_for :section_title do
  .section_title
    = @title

.column_names
  %dl
    %dt
      Column Names
    - @model_name.plot_column_names.each do |name|
      %dd
        = name

.form
  .span12
    = form_tag @plot_route, :method => :post do
      .row
        .span3
          %label
            SQL (e.g. i1i2color > 0.1)
          = text_field_tag :sql_query, params[:sql_query], :class => "span3"
        .span2
          %label
            X Axis
          = select_tag :x, options_for_select(@model_name.plot_column_names, params[:x]), :include_blank => true, :class => "span2"
        .span2
          %label
            Y Axis
          = select_tag :y, options_for_select(@model_name.plot_column_names, params[:y]), :include_blank => true, :class => "span2"
        .span5
          %label
            &nbsp;
          %button.btn.btn-primary{:type => "submit", :name => "button", :value => "plot"}
            Plot X & Y
          %button.btn.btn-info{:type => "submit", :name => "button", :value => "download_xy"}
            Download X & Y
          %button.btn.btn-inverse{:type => "submit", :name => "button", :value => "download_all"}
            Download All        
      .row
        .span1
          %label
            Random
          = check_box_tag :sample, params[:sample], params[:sample].present?
        .span2
          %label
            Sample Size
          = text_field_tag :sample_size, params[:sample_size]

.plot
  .span12
    #flot


#click_data
  .span12
    %p.click_data
      %em
        Click a data point to see all fields

  

:javascript

  var data = #{ @data.to_json };

  var plot = $.plot($("#flot"), [data], {
    series: {
        lines: { show: false },
        points: { show: true, fill: 1, fillColor: false }
    },
    xaxis: {
    },
    yaxis: {
    },
    grid: {
      hoverable: true,
      clickable: true
    },
    legend: {
    }
  });

  $("#flot").bind("plotclick", function (event, pos, item) {
    if (item) {
      formatData(item.series.data[item.dataIndex][2]);
    }
  });

  function formatData(data) { 

    var json = data;
    var html = ''
    
    for (var i in json) {
      if (i == 'kic_ra') {
        var ra = json[i];
      }
      if (i == 'kic_dec') {
        var dec = json[i];
      }
      if (i == 'kic_kepler_id') {
        var kic_kepler_id = json[i];
      }
    }
    for (var i in json) {
      html += '<div class="span2">'
      html += '<dl>'
      html += '<dt>'
      html += i
      html += '</dt>'
      html += '<dd>'
      if (i == 'kic_kepler_id') {
        html += '<a href="http://archive.stsci.edu//kepler/data_search/search.php?action=Search&ktc_kepler_id='
        html += kic_kepler_id
        html += '" target="_blank">'
        html += json[i]
        html += '</a>'
      } else if (i == 'kic_tm_designation') {
        html += '<a href="http://irsa.ipac.caltech.edu/cgi-bin/FinderChart/nph-finder?locstr='
        html += ra
        html += '+'
        html += dec
        html += '&subsetsize=3.0'
        html += '" target="_blank">'
        html += json[i]
        html += '</a>'
      } else if (i == 'ukirt_j') {
        html += '<a href="ukirt_j__kic_kepler_id_'
        html += kic_kepler_id
        html += '.png'
        html += '" target="_blank">'
        html += json[i]
        html += '</a>'
      } else {
        html += json[i]
      }
      html += '</dd>'
      html += '</dl>'
      html += '</div>'
    }

    $("#click_data").html(html);

  }