.span12
  %h2
    = @title
.plot
  .span12
    #flot

.form
  .span12
    = form_tag @plot_route, :method => :post do
      .row
        .span12
          = "Columns: " + @model_name.plot_column_names.join(", ")
      %br
      .row
        .span3
          %label
            SQL (e.g. i1i2color > 0.1)
          = text_field_tag :sql_query, params[:sql_query], :class => "span3"
        .span2
          %label
            x axis
          = select_tag :x, options_for_select(@model_name.plot_column_names, params[:x]), :include_blank => true, :class => "span2"
        .span2
          %label
            y axis
          = select_tag :y, options_for_select(@model_name.plot_column_names, params[:y]), :include_blank => true, :class => "span2"
        .span5
          %label
            &nbsp;
          %button.btn.btn-primary{:type => "submit", :name => "button", :value => "plot"}
            plot x and y
          %button.btn.btn-info{:type => "submit", :name => "button", :value => "download_xy"}
            download x and y
          %button.btn.btn-inverse{:type => "submit", :name => "button", :value => "download_all"}
            download all        
      .row
        .span1
          %label
            random
          = check_box_tag :sample, params[:sample], params[:sample].present?
        .span2
          %label
            sample size
          = text_field_tag :sample_size, params[:sample_size]

%hr
%p
  click a data point to see all fields
#click_data
  

:javascript

  var data = #{ @data.to_json };

  var plot = $.plot($("#flot"), [data], {
    series: {
        lines: { show: false },
        points: { show: true, fill: 1, fillColor: false }
    },
    xaxis: {
    },
    yaxis: {
    },
    grid: {
      hoverable: true,
      clickable: true
    },
    legend: {
    }
  });

  $("#flot").bind("plotclick", function (event, pos, item) {
    if (item) {
      formatData(item.series.data[item.dataIndex][2]);
    }
  });

  function formatData(data) { 

    var json = data;
    var html = ''
    
    for (var i in json) {
      if (i == 'kic_ra') {
        var ra = json[i];
      }
      if (i == 'kic_dec') {
        var dec = json[i];
      }
    }
    for (var i in json) {
      html += '<div class="span2">'
      html += '<dl>'
      html += '<dt>'
      html += i
      html += '</dt>'
      html += '<dd>'
      if (i == 'kic_kepler_id') {
        html += '<a href="http://irsa.ipac.caltech.edu/cgi-bin/FinderChart/nph-finder?locstr='
        html += ra
        html += '+'
        html += dec
        html += '&subsetsize=3.0'
        html += '">'
        html += json[i]
        html += '</a>'
      } else {
        html += json[i]
      }
      html += '</dd>'
      html += '</dl>'
      html += '</div>'
    }

    $("#click_data").html(html);

  }