= content_for :section_title do
  .section_title
    = @title

.column_names
  %dl
    %dt
      Column Names
    - @model_name.all_column_names.each do |name|
      %dd
        = name

.form
  .span12
    = form_tag @plot_route, :method => :post do
      .row
        .span3
          %label
            Random Sample Size (2500 max)
          = text_field_tag :sample_size, params[:sample_size], :class => "span3", :placeholder => 2500
        .span2
          %label
            X Axis (Required)
          = select_tag :x, options_for_select(@model_name.plot_column_names, params[:x]), :include_blank => true, :class => "span2", :required => true
        .span2
          %label
            Y Axis (Required)
          = select_tag :y, options_for_select(@model_name.plot_column_names, params[:y]), :include_blank => true, :class => "span2", :required => true
        .span3
          %label
            &nbsp;
          %button.btn.btn-primary{:type => "submit", :name => "button", :value => "plot"}
            Plot X & Y
          = link_to "Download All", download_kepler_target_path, :class => "btn btn-inverse"

      .row

.plot
  .span12
    #flot


#click_data
  .span12
    %p.click_data
      %em
        Click a data point to see all fields



:javascript

  var data = #{ @data.to_json };

  var plot = $.plot($("#flot"), [data], {
    series: {
        color: '#3366cc',
        lines: { show: false },
        points: { show: true, fill: 1, fillColor: false }
    },
    xaxis: {
    },
    yaxis: {
    },
    grid: {
      hoverable: true,
      clickable: true
    },
    legend: {
    }
  });

  $("#flot").bind("plotclick", function (event, pos, item) {
    if (item) {
      data = item.series.data[item.dataIndex][2];
      html = HandlebarsTemplates["#{controller_name.singularize + '_source_column'}"](data);
      $("#click_data").html(html);
    }
  });
