!!!
%html
%head
  %title
    SpiKeS Admin
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  .header
    .container
      .row
        .span12
          %h1
            SpiKeS Admin


  - if flash[:notice]
    .container
      .row
        .span12
          .alert.alert-success{:onclick => "$(this).hide()", :style => "cursor: pointer;" }
            = flash[:notice]

  .content
    .container
      .row
        = yield
