!!!
%html
%head
  %title
    SpiKeS
  = stylesheet_link_tag    "application", :media => "all"
  %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', :rel => 'stylesheet', :type => 'text/css'}

  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  .header
    .container
      .row
        .span8
          .site_title
            = link_to root_path do
              %h1
                SpiKeS
                %weak
                  <span>Spi</span>tzer <span>Ke</span>pler <span>S</span>urvey
        .span4
          - if content_for? :section_title
            = yield :section_title
    .clear

  .flash.container
    - if flash[:alert]
      .alert.alert-danger
        = flash_message(flash[:alert])
    - if flash[:error]
      .alert.alert-danger
        = flash_message(flash[:error])
    - if flash[:notice]
      .alert.alert-info
        = flash_message(flash[:notice])

  .content
    .container
      .row
        = yield

  .footer
    .container
      .row
        .span12
          %p
            = link_to "Questions/concerns? Send the SpiKeS team a message.", messages_path
